anthropic==0.45.2
litellm==1.59.10
mistralai==1.5.0
numpy==2.2.2
openai==1.60.2
pandas==2.2.3
protobuf==5.29.3
python-dotenv==1.0.1
Requests==2.32.3
tqdm==4.66.5
typing_extensions==4.12.2
google-genai
